# Configuration for {{ item.0.name }} - {{ item.1.name }}
# Instance: {{ item.1.name }}
# Port: {{ item.1.port }}

port: {{ item.1.port }}
service_name: {{ item.1.name }}
working_dir: {{ item.0.working_dir }}

# Add your custom configuration here
# This is a template file that can be customized based on your binary's requirements